<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.entfrm.biz.activiti.mapper.FormActivitiEngineMapper">


    <select id="findFormActivitiEngineDesignerData"
            resultType="com.entfrm.biz.activiti.entity.FormActivitiEngine">

        select * from act_from_activiti_engine
        <where>
            id=#{id}
            and drawing_controls is not null
            and id_global is not null
            and form_conf is not null
        </where>

    </select>

    <select id="findByCodeOne" resultType="java.lang.String">
        select drawing_controls from act_from_activiti_engine
        <where>
            code=#{code}
        </where>
    </select>

</mapper>
